body {
    font-family:'ADLaM Display';
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #124b8d;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }


.image {
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    justify-content: center; 
  }

.banner {
    color: white;
  
}

.text-block {
    text-align: center ;
    color: #124b8d;
    background-color: lightgrey ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}